.debug {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}

.input-category {
    background-color: rgba(227,227,227, 0.8);
    padding: 8px 20px;
    margin-bottom: 20px;
}

.input-category .title {
    text-transform: uppercase;
}

.input-row {
    display: block;
    margin-bottom: 16px;
}

.input-info {
    color: rgba(92, 92, 92);
    font-style: italic;
    margin: 0;
}

.input-row.checkbox {
    /*border: 1px solid red;*/
}

.input-list-container {
    display: flex;
    align-items: end;
}

/**
 * Buttons
 */
.btn {
    background-color: #ff9900;
    border: 1px solid #e3e3e3;
    color: #f2f2f2;
    cursor: pointer;
    padding: 5px;
    transition: .3s;
}

.btn.add { background-color: #579b1f; font-size: 12px }
.btn.add:hover { background-color: #3b8303; }
.btn.remove { background-color: #ff9900; }
.btn.remove:hover { background-color: #C2801FFF; }
